.nice.secondary.progress
  %span.meter{:style => "width:100%;"}
.center_element{:style => "width:70%;"}
  = image_tag("#{@user.show_pic}", :class => "pic")
  %h2.inline
    = @user.fullname
    - @user.belts.each do |belt|
      %h3 
        #{belt.title} White Belt Progress: #{belt_progress(@user.id, belt.id)}%
      %ol#challenges
        = render :partial => "layouts/challenge", :collection => belt.challenges, :locals => { :belt => belt, :user => @user}
        / - belt.challenges.each do |challenge|
        /   = challenge.description
.nice.secondary.progress
  %span.meter{:style => "width:100%;"}