%h3.center
  = event.title
  %span.label.round.small.middle.has-tip.tip-bottom{:title => "#{event.description}", :"data-width" => "175" }
    Info
%h3.subheader.center
  #{event.date.to_formatted_s(:short)} | #{event.location} | seats left: #{event.capacity - Rsvp.find_all_by_event_id(event.id).count}
  - if logged_in?  
    - if ! current_user.rsvps.find_by_event_id(event.id) && (event.capacity - Rsvp.find_all_by_event_id(event.id).count) > 0 
      = link_to "RSVP", rsvps_path(:new_rsvp_event_id => event.id), :method => :post , class: "button tiny success radius rsvp middle"
    - if  current_user.rsvps.find_by_event_id(event.id)
      = link_to "Cancel RSVP", rsvp_path(current_user.rsvps.find_by_event_id(event.id)), :method => :delete , class: "button tiny alert radius rsvp middle"
  - if logged_in? && admin?
    = link_to "delete", event_path(event), :method => :delete, class: "button tiny alert round"
- if has_rsvps?(event.id)
  %h3.center RSVP LIST 
  = render :partial => "layouts/user", :collection => event.all_users_who_rsvp
- else
  %h5.center Be the first person to RSVP ! 
- if master?
  .center
    = link_to "message this group", new_message_path, class: "button tiny success radius rsvp middle center"
  