.nice.secondary.progress
  %span.meter{:style => "width:100%;"}
%div
  %h2.center
    = @belt.title
  %h5.center
    = @belt.description
  %h5
    Challenges
  - @challenges.each do |challenge|
    %h6
      = challenge.description 
.nice.secondary.progress
  %span.meter{:style => "width:100%;"}
%div
  %h6.center
    = form_for @challenge do |f|
      = f.label :description
.nice.secondary.progress
  %span.meter{:style => "width:100%;"}