%div
  %h2.center
    The #{@belt.title} Belt
  %h5.center
    #{@belt.description} 

%div{style: "width: 85%; margin: 0 auto;"}    

.nice.secondary.progress
  %span.meter{:style => "width:100%;"}
%div
  = form_for @belt do |belt|
    %h4.subheader
      Belt Title
    =  belt.text_field :title
    %h4.subheader
      Belt Description
    =  belt.text_field :description
  %div.center
    =  belt.submit
