%div
  %h2.center
    The #{@belt.title} Belt
  %h5.center
    #{@belt.description} 
  %h5.center
    Challenges
%div{style: "width: 85%; margin: 0 auto;"}    
  %ol
    - @belt.challenges.each do |challenge|
      %li
        %h4.subheader 
          - if challenge.description != nil
            = challenge.description.html_safe
.nice.secondary.progress
  %span.meter{:style => "width:100%;"}
%div
  = form_for @belt do |belt|
    %h4.subheader
      Belt Title
    =  belt.text_field :title
    %h4.subheader
      Belt Description
    =  belt.text_field :description
    %h4.subheader
      Challenges
    =  belt.fields_for :challenges do |builder|
      = builder.text_field :description
    =  belt.submit