.nice.secondary.progress
  %span.meter{:style => "width:100%;"}
- @belts.each do |belt|
  %div.center
    %h2.center.middle.inline
      The #{belt.title} White Belt
    - if logged_in? && ! current_user.belts.find_by_title("#{belt.title}").present?
      = link_to "Join #{belt.title} White Belt", belts_path(:join_belt => {:title => "#{belt.title}", :belt_id => "#{belt.id}"}), :method => :post, class: "button small success radius"
    - if logged_in? && current_user.belts.find_by_title("#{belt.title}").present?
      = link_to "Belt Progress", belt_path(belt), :class => "tiny button success radius"
      = link_to "Events", events_path, :class => "tiny button success radius"
  %h5.center
    '#{belt.description}'
    - if logged_in? && ! current_user.belts.find_by_title("#{belt.title}").present?
      %span.button.small.radius.buttonForModal.pointer{id: "#{belt.title.downcase}"}
        more info
    - if admin?      
      = link_to "edit", edit_belt_path(belt), class: "button tiny alert round"
      = link_to "delete", belt_path(belt), :method => :delete, class: "button tiny alert round"
  .nice.secondary.progress
    %span.meter{:style => "width:100%;"}
%div.center
  %a.button.medium.buttonForModal.success.radius#about
    About @rubywhitebelts
- if logged_in? && admin?
  %br
  %div.center
    %a.button.small.success.radius{href: new_belt_path}
      new belt  
= render 'layouts/modal'    
= render 'layouts/about'    