.row
  .four.columns.centered
    .fixed.contain-to-grid
      %nav.top-bar
        %ul
          - if logged_out?
            %li.divider
            %li.name
              %h1
                = link_to "Log In", "/auth/linkedin"
            %li.divider
            %li.name
              %h1
                = link_to "Sign Up", "/auth/linkedin"
            %li.divider
          - if logged_in? 
            %li.divider
            %li.name
              %h1
                = link_to "All Belts", belts_path
            - current_user.belts.all.each do |belt|
              %li.divider
              %li.name
                %h1
                  = link_to "#{belt.title} Belt", belt_path(belt)
        - if logged_in?
          %ul.right
            - if ! current_user.white_belt
              %li.divider
                %li
                  .has-tip.tip-bottom{:title => "Turn this boolean to true and the Journey begins...", }
                    = link_to "Belt Status = #{current_user.white_belt.to_s.capitalize}"
            - if  current_user.white_belt
              %li.divider
                %li
                  .has-tip.tip-bottom{:title => "Your Journey is Underway...", }
                    = link_to "Belt Status = #{current_user.white_belt.to_s.capitalize}"
            %li.divider
            %li.has-dropdown
              = link_to current_user.linkedin_email, edit_user_path(current_user.id) 
              %ul.dropdown
                %li
                  = link_to "All Users", users_path 
                %li
                  = link_to "Edit Profile", "#"
                %li
                  = link_to "Sign Out", sign_out_path
                - if admin?
                  %li
                    %label 
                      Admin Tools
                  %li
                    = link_to "Edit Belts", belts_path
                - if master?
                  %li
                    %label 
                      Master Tools
                  %li
                    = link_to "Edit Users", "#edit_users_path"