- @belts.each do |belt|
  .reveal-modal.expand{:id => "#{belt.title.downcase}Modal"}
    %div{style: "width: 90%; margin: 0 auto;"}
      %h2.subheader.center
        The #{belt.title} Belt    
      %ol
        - belt.challenges.each do |challenge|
          %li
            %h4.subheader 
              = challenge.description.html_safe
      %div.center
        - if ! current_user.belts.find_by_title("#{belt.title}").present?
          = link_to "Join #{belt.title} White Belt", belts_path(:join_belt => {:title => "#{belt.title}", :belt_id => "#{belt.id}"}), :method => :post, class: "button medium success radius"