!!! 5
%html
  %head
    %title RubyWhiteBelts
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = analytics_init if Rails.env.production?
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0" }
  %body
    = render 'layouts/heading'
    = render 'layouts/notice' if flash
    .row
      .ten.columns.centered
        .panel.margined
          .nice.secondary.progress
            %span.meter{:style => "width:100%;"}
          = yield
          .nice.secondary.progress
            %span.meter{:style => "width:100%;"}
    .row
      .eight.columns.centered
        .center  
          = render 'layouts/footing'
